{% extends "portfolio.html" %}

{% block content %}
<h1>About Me</h1>
<img src="/static/images/profile.jpg" alt="My Photo" style="width:250px;border-radius:90%;float:right;margin-left:20px;">

<p>I'm a 3rd year BS Information Technology student passionate about web development and programming. stock photo student on right for privacy > </p>

<h2>Education</h2>
<p>Gordon College, Olongapo City<br>
BS Information Technology (2021-2026)</p>

<h2>Skills</h2>
<ul class="skills-list">
    <li>Python Programming</li>
    <li>Django Web Development</li>
    <li>HTML/CSS</li>
    <li>Basic JavaScript</li>
    <li>Database Design</li>
</ul>
{% endblock %}