{% extends "portfolio.html" %}

{% block content %}
<h1>Contact Details</h1>
<table class="contact-table">
    <tr>
        <th>Contact Method</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Email:</td>
        <td>Myemail.email@email.com</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>+63 900 800 700</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>Something School, Something City</td>
    </tr>
    <tr>
        <td>Social Media:</td>
        <td>
            <a href="https://facebook.com/Myprofilenotgonnaleakinpublicxd">Facebook</a> |
        </td>
    </tr>
</table>
{% endblock %}